**/__pycache__
**/graph/intermediate
data/*
!data/.gitkeep
joern/*
!joern/.gitkeep
*.log
.vscode
outputs
analysis
outputs_1
error_similarity_analysis/*
!error_similarity_analysis/
!error_similarity_analysis/*.py
reviewer_finetune_data/*
CodeBERT_imp
UniXcoder_imp
raw_code
data_balanced/*
data_balance/*
!data_balance/make_subsampled.py
tmp
venv/*
LLM_TEST/exp.yaml
LLM_TEST/.env
LLM_TEST/test_baidu_api.py
LLM_TEST/output/*
LLM_TEST/Prompt/*
LLM_TEST/intermediate/*
improve_recall/output/*
improve_recall/output_summary/*
model/*